* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

nav ul {
  align-items: center;
  background-color: #071952;
  box-shadow: 0 0 1rem;
  display: flex;
  height: 3rem;
  justify-content: right;
  list-style-type: none;
}

.nav-link {
  color: white;
  margin-right: 2rem;
  text-decoration: none;
}

.nav-link:hover {
  color: green;
}

.logo {
  margin-right: auto;
  margin-left: 1rem;
}